APP_CODE={{cookiecutter.project_name}}
APP_SECRET={{cookiecutter.project_name}}
BACKEND_URL=https://dev-api.example.com
ALLOWED_HOSTS=dev-api.example.com
FRONTEND_URL=https://dev.example.com
CORS_ORIGIN_WHITELIST=https://dev.example.com
DB_NAME={{cookiecutter.project_name}}
DB_USER={{cookiecutter.project_name}}
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
OVINC_API_DOMAIN=https://api.example.com
OVINC_WEB_URL=https://www.example.com
OVINC_TICKET_COOKIE_NAME=ovinc-api-sessionid
