# ovinc
ovinc-client==0.4.5

# Celery
celery==5.6.0

# ASGI
asgiref==3.11.0
channels[daphne]==4.3.2
channels_redis==4.3.0

# Server
gunicorn==23.0.0
uvicorn-worker==0.4.0
uvicorn==0.38.0

# Datetime
arrow==1.4.0

# RSA
pycryptodome==3.23.0

# tencent cloud
tencentcloud-sdk-python==3.1.2