# ovinc
ovinc-client==0.4.2

# Celery
celery==5.5.3

# ASGI
asgiref==3.9.2
channels[daphne]==4.3.1
channels_redis==4.3.0

# Server
gunicorn==23.0.0
uvicorn-worker==0.4.0
uvicorn==0.37.0

# Datetime
arrow==1.3.0

# RSA
pycryptodome==3.23.0

# tencent cloud
tencentcloud-sdk-python==3.0.1470